<!DOCTYPE html>
<html>
	<head>
		<title>{{ pageTitle }}</title>
	</head>
	<body>
		{{> header }}
		<p>My name is {{ upperText name }}</p>
		<p>My job is {{ upperText job }}</p>
		{{> footer}}
	</body>
</html>